<div class="container1">
    <h1>Manipulación</h1>
  
    <mat-card class="example-card">
      <div>
        <mat-card-header>
          <mat-card-title>Definición #1</mat-card-title><br />
          <mat-card-subtitle>
              <a href="https://porquequieroestarbien.com/bienestar-emocional/relaciones/que-es-la-manipulacion-y-como-trabajarla" target="_blank">
  
              <button mat-fab extended color="warn">
                <mat-icon>link</mat-icon>
                Referencia
              </button>
            </a></mat-card-subtitle
          >
        </mat-card-header>
      </div>
      <mat-card-actions class="tags">
        <img
          mat-card-image
          src="https://porquequieroestarbien.com/sites/default/files/styles/max_1300x1300/public/2022-10/qu%C3%A9-es-la-manipulaci%C3%B3n-c%C3%B3mo-manejarla.jpg.webp?itok=OLySSII0"
  
          class="image-pro"
        />
        <div class="content1" data-color="front">
            Explicado de la manera más sencilla, la manipulación es la práctica de utilizar comportamientos y comentarios indirectos para controlar el comportamiento, las emociones y las relaciones de otros; por lo general, esto se hace para ganar control y dominancia sobre la otra persona.
        </div>
      </mat-card-actions>
    </mat-card>
  
    
    <mat-card class="example-card">
      <div>
        <mat-card-header>
          <mat-card-title>Definición #2</mat-card-title><br />
          <mat-card-subtitle>
            <a
              href="https://www.mentesabiertaspsicologia.com/blog-psicologia/blog-psicologia/manipulacion-mental-como-identificar-a-un-manipulador-y-protegerse#google_vignette"
              target="_blank"
            >
              <button mat-fab extended color="warn">
                <mat-icon>link</mat-icon>
                Referencia
              </button>
            </a></mat-card-subtitle
          >
        </mat-card-header>
      </div>
      <mat-card-actions class="tags">
        <img
          mat-card-image
          src="https://www.mentesabiertaspsicologia.com/images/manipulacion_mental.webp"
          class="image-pro"
        />
        <div class="content1" data-color="html">
            Se dice que existe manipulación mental cuando un individuo asume el control de la conducta y sentimientos de otra persona o grupo de personas con estrategias y técnicas psicológicas de sugestión, seducción, persuasión…, para obtener un beneficio o conseguir un objetivo.
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  